/*Стилизация мобильной версии*/
@media (max-width: 992px) {
	.zayavka .container {
		padding-left: 15px;	
	}
	.carousel-control-next, .carousel-control-prev, .worker {
		display: none;	
	}
	.slider {
		height: auto;	
		padding-top: 100px;	
		min-height: 570px;
	}
	.fixed-button {
		display: none !important;	
	}
	.jcarousel-control-next {
		right: 2px;	
	}
	.jcarousel-control-prev {
		left: 2px;	
	}
	.header .col-md-4.text-center {
		display: none;	
	}
	.header, .header div {
		padding-left: 5px;	
		padding-right: 5px;	
		font-size: 12px;	
	}
	.icon {
		margin-right: 5px;	
	}
	.header .text-right img {
		margin-left: 5px;	
	}
	.header span {
		display: none;	
	}
	.header button {
		margin-top: 0;	
	}
	.slider h3 {
		font-size: 30px;	
	}
	.slider p {
    	font-size: 14px;
    	max-width: 100%;
	}
	.slider a, .zayavka button, #exampleModal button[type="submit"] {
		font-size: 16px;	
	}
	h2 {
		font-size: 30px;	
	}
	.styazhka .row {
		margin-top: 30px;	
	}
	.video {
		width: 100%;	
		height: 200px;
	}
	.styazhka p {
		margin-bottom: 0;	
		font-size: 14px;	
		margin-top: 20px;	
	}
	.styazhka .col-md-3 {
		margin-bottom: 10px;	
	}
	.uslugi-main-text {
		font-size: 14px;	
	}
	.uslugi .row .row p {
		font-size: 22px;	
	}
	.zayavka {
		z-index: 0;
	}
	.zayavka form {
		margin-top: 50px;	
	}
	.uslugi .col-md-6, .uslugi .col-md-3 {
		margin-bottom: 10px;	
	}
	.mt {
		margin-top: -30px;	
	}
	.contacts-main-block {
		position: static;
		width: 100%;	
		height: auto;
		padding-bottom: 50px;
	}
	.contacts .container {
		padding-left: 0;	
		padding-right: 0;	
	}
	.contacts-main-block button {
		margin-left: auto;
		margin-right: auto;
	}
	.contacts-main-block:after {
		display: none;
	}
	.jcarousel-pagination {
		display: none;
	}
	.discont {
    	margin-top: 30px;
	}
	.portfolio li p {
		min-height: 120px;
	}
	.zayavka {
		padding-top: 0;
	}
}
/*Стилизация десктопной версии-----------------------------------------------------------------------------------------*/
@media (min-width: 992px) {
	
}
/*Стилизация таблеточной версии*/
@media screen and (min-width: 768px) and (max-width: 992px) {
	.header .col-md-4.text-center {
		display: block;
		font-size: 24px;
	}
	.slider p {
		max-width: 50%;
	}
	.slider h3 {
		max-width: 60%;
	}
	.pa {
		left: 10px !important;
		bottom: 10px !important;
	}
	.uslugi .row .row p {
		font-size: 16px;
	}
	.uslugi button {
		padding: 10px 15px;
	}
	.contacts .container {
		max-width: 100%;
	}
}
/*Стилизация 1024 */
@media screen and (min-width: 992px) and (max-width: 1200px) {
	.header .text-right p, .header a {
		font-size: 14px;	
	}
	.header button {
		font-size: 11px;	
	}
	.slider-inner {
		padding-left: 50px;	
	}
	.jcarousel-control-next {
		right: -38px;	
	}
	.jcarousel-control-prev {
		left: -38px;	
	}
	.carousel-control-next img {
		margin-right: -80px;	
	}
	.carousel-control-prev img {
		margin-left: -80px;	
	}
}